form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 13px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 450px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  
  